<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="ٌYassin 2 Doost" content="DigiKala - دیجی کالا">
    <meta name="generator" content=" v3.8.5">

    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/WebFonts/css/fontiran.css">
    <link rel="stylesheet" href="/css/WebFonts/css/style.css">

    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


  </head>
  <body>
    <br/>
      <% include ./partials/navbar %>
   


  <div class="special-conyainer">
   
    <%- body -%>

    <br/>
  </div> <!-- /container -->
 

  <% include ./partials/footer %>
  <% include ./partials/javaScript %>


</main>
    </body>
</html>
