<% layout('boilerplate') -%>
<head>
        <title> خانه </title>
      </head>
<h1>Shop Smart, Save Big</h1>
<p>Starting point to create somthing more unique</p>


<p>Signup to start Buying</p>
<h3>Start your search here</h3>

<h3>Look for Smart items?</h3>
<p>These will apear across the site as you add to your cart</p>

